/* .chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
} */

.svgTest {
    display: block;
    text-align: right;
    margin-right: 1px;
    background-color: gold;
}

.chart_title {
    display: block;
    text-align: right;
    margin-right: 1px;
    background-color: gold;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background: lightblue;
    background-size: cover;
}

a:link, a:hover, a:visited {
    color: #fff;
    text-decoration:none;
    text-shadow: 1px 1px 0 #283744;
}

@media screen and (min-width:721px){
    
    .svgTest {
        display: block;
        text-align: right;
        width: 100%;
        margin-right: 1px;
        background-color: gold;
    }
    
    .chart_title {
        display: block;
        text-align: right;
        width: 100%;
        margin-right: 1px;
        background-color: gold;
    }

    #list {
        width: 100%;
        height: auto;
        background: lightblue;
        font-size: 1.2em;
        font-weight: bold;
    }

    nav {
        height: 40px;
        border-bottom : 2px solid #34495e;
    }

    nav ul {
        display: block;
        width: 720px;
        height: 40px;
        padding: 0;
        margin: 0 auto;
    }

    nav ul li {
        display: inline-block;
        width: 120px;
        border-bottom: 0;
        border-right: 1px solid #576979;
        margin-right: -6px;
    }

    nav ul li:last-child {
        border-right: 0;
    }

    nav ul li a {
        font-size: 1em;
        line-height : 40px;
    }
    
    nav a#trigger {
        display: none;
    }
}


@media screen and (max-width:595px){
    
    .svgTest {
        text-align: right;
        width: 100%;
        margin-right: 1px;
        background-color: gold;
    }
    
    .chart_title {
        text-align: right;
        width: 100%;
        margin-right: 1px;
        background-color: gold;
    }
    #list {
        background-color : purple;
    }

    #charts {
        background-color : red;
    }

    #table34 {
        background-color: gold;
        width: 100%;
    }

    nav {
        width: 100%;
        height: auto;
        background: #34495e;
        font-size: 1.2em;
        font-weight: bold;
    }
    
    nav ul {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #576979;
    }
    
    nav ul li a {
        line-height: 50px;
    }
    
    nav a#trigger {
        display: block;
        background-color: #283744;
        width: 100%;
        padding-left: 15px;
        line-height: 40px;
        position: relative;
    }
    
    nav a#trigger::after {
        content: "";
        background: url('nav.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    
    #LiveRe {
        background-color : white;
        z-index: 0;
    }
}


nav {
    width: 100%;
    height: auto;
    background: #34495e;
    font-size: 1.2em;
    font-weight: bold;
}

nav ul {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #576979;
}

nav ul li a {
    line-height: 50px;
}

nav a#trigger {
    display: block;
    background-color: #283744;
    width: 100%;
    padding-left: 15px;
    line-height: 40px;
    position: relative;
}

nav a#trigger::after {
    content: "";
    background: url('nav.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
}

#LiveRe {
    background-color : white;
    z-index: 0;
}


nav {
    width: 100%;
    height: auto;
    background: #34495e;
    font-size: 1.2em;
    font-weight: bold;
}

nav ul {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #576979;
}

nav ul li a {
    line-height: 50px;
}

nav a#trigger {
    display: block;
    background-color: #283744;
    width: 100%;
    padding-left: 15px;
    line-height: 40px;
    position: relative;
}

nav a#trigger::after {
    content: "";
    background: url('nav.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
}

#LiveRe {
    background-color : white;
    z-index: 0;
}
